/* andreas09 v1.0 (Dec 10th 2005) - An open source template by Andreas Viklund - http://andreasviklund.com. Free to use for any purpose as long as the proper credits are given to the original author. */
/* Minor modifications: Arnost Komarek*/

body {
background:#8b8b8b;
color:#303030;
font:90% Verdana,Tahoma,Arial,sans-serif;
margin:0;
padding:0;
text-align:center;
}

a {               /* link */
/*color:#505050; */
color:#0000BE;     
/*font-weight:bold;*/
text-decoration:none;
}

a:hover {        /** link when pointed out **/
/*color:#808080;  */
color:#887DBE;
text-decoration:underline;
}

p {
line-height:1.5em;
margin:0 0 15px;
}

/*** Main container ***/

#container {
background:#f0f0f0 url(bodybg.jpg) repeat-x;
color:#303030;
margin:0;
min-width:770px;
padding:0;
text-align:left;
width:100%;
}

/*** Header section ***/

#sitename {
color:#ffffff;
background:rgb(204,0,0);
height:92px;
margin:0 20px 10px;
text-align:left;
}

#sitename h1,#sitename h2 {
font-weight:400;
letter-spacing:1px;
margin:0;
padding:0;
}

#sitename h1 {
font-size:2.4em;
padding-top:20px;
}

#sitename h2 {
font-size:1.6em;
}

/*** Horizontal menu ***/

#mainmenu {
float:left;
margin-bottom:25px;
}

#mainmenu ul {
font-size:16px;
margin:0;
padding:0;
}

#mainmenu li {
float:left;
height:35px;
list-style:none;
margin:0;
padding:0;
}

#mainmenu a {
border-right:1px solid #b0b0b0;
color:#606060;
display:block;
font-size:0.7em;
padding:11px 10px 10px;
text-transform:uppercase;
}

#mainmenu a:hover {
background:#f0f0f0 url(menuhover.jpg) top left repeat-x;
color:#505050;
text-decoration:none;
}

#mainmenu a.current {
background:#f0f0f0 url(menuhover.jpg) top left repeat-x;
color:#505050;
text-decoration:none;
}

/*** Content wrap ***/

#wrap {
clear:both;
font-size:1em;
padding:0;
}

/*** Sidebars ***/

#leftside,#rightside {
margin:0;
padding:0 10px 10px;
width:165px;
}

#leftside {
float:left;
margin-right:10px;
}

#rightside {
float:right;
margin-left:10px;
}

#leftside h1,#rightside h1 {
color:#505050;
font-size:1.6em;
font-weight:bold;
letter-spacing:-1px;
margin:0 0 12px;
}

#leftside h2,#rightside h2 {
font-size:1.1em;
margin:0 0 20px;
}

#leftside p,#rightside p {
font-size:0.9em;
line-height:1.4em;
margin:0 0 16px 10px;
}

.linklist {
list-style:none;
margin:0 0 16px 10px;
padding:0;
}

.linklist li {margin-bottom:0.7em;}

/*** Sidebar menu ***/

.nav {
background:#e8e9ea;
border:1px solid #b0b0b0;
color:#606060;
display:block;
margin-top:8px;
padding:5px 4px 4px 10px;
position:relative;
text-transform:uppercase;
width:140px;
}

.nav:hover,.active {
background:#f8f9fa;
border:1px solid #909090;
color:#303030;
text-decoration:none;
}

.sub {
font-size:0.8em;
letter-spacing:1px;
margin:3px 0 2px 10px;
padding:4px 2px 2px 8px;
width:125px;
}

/*** Content ***/

#content,#contentalt1,#contentalt2,#contentalt3,#contentalt4,#contentalt5,#contentalt6,#contentalt7,#contentalt8,#contentalt9,#contentalt10,#contentalt11,#contentalt12,#contentalt13 {
background-color:#fafcff;
border:1px solid #909090;
color:#2a2a2a;
padding:15px 20px 5px;
}

#content {margin:0 200px;}
#contentalt1 {margin:0 200px 0 20px;}
#contentalt2 {margin:0 200px 0 20px;}
#contentalt3 {margin:0 200px 0 20px;}
#contentalt4 {margin:0 200px 0 20px;}
#contentalt5 {margin:0 200px 0 20px;}
#contentalt6 {margin:0 200px 0 20px;}
#contentalt7 {margin:0 200px 0 20px;}
#contentalt8 {margin:0 200px 0 20px;}
#contentalt9 {margin:0 200px 0 20px;}
#contentalt10 {margin:0 200px 0 20px;}
#contentalt11 {margin:0 200px 0 20px;}
#contentalt12 {margin:0 200px 0 20px;}
#contentalt13 {margin:0 200px 0 20px;}

#content h1,#content h2,#content h2.col,#contentalt1 h1,#contentalt1 h2,#contentalt1 h2.col,#contentalt2 h1,#contentalt2 h2,#contentalt2 h2.col,#contentalt3 h1,#contentalt3 h2,#contentalt3 h2.col,#contentalt4 h1,#contentalt4 h2,#contentalt4 h2.col,#contentalt5 h1,#contentalt5 h2,#contentalt5 h2.col,#contentalt6 h1,#contentalt6 h2,#contentalt6 h2.col,#contentalt7 h1,#contentalt7 h2,#contentalt7 h2.col,#contentalt8 h1,#contentalt8 h2,#contentalt8 h2.col,#contentalt9 h1,#contentalt9 h2,#contentalt9 h2.col,#contentalt10 h1,#contentalt10 h2,#contentalt10 h2.col,#contentalt11 h1,#contentalt11 h2,#contentalt11 h2.col,#contentalt12 h1,#contentalt12 h2,#contentalt12 h2.col,#contentalt13 h1,#contentalt13 h2,#contentalt13 h2.col{
background-color:inherit;
color:#606060;
font-size:1.8em;
font-weight:bold;
letter-spacing:-1px;
margin:0 0 15px;
padding:0;
}

#content h2,#contentalt1 h2,#contentalt2 h2,#contentalt3 h2,#contentalt4 h2,#contentalt5 h2,#contentalt6 h2,#contentalt7 h2,#contentalt8 h2,#contentalt9 h2,#contentalt10 h2,#contentalt11 h2,#contentalt12 h2,#contentalt13 h2 {
font-size:1.6em;
margin-bottom:10px;
}

#content h2.col,#contentalt1 h2.col,#contentalt2 h2.col,#contentalt3 h2.col,#contentalt4 h2.col,#contentalt5 h2.col,#contentalt6 h2.col,#contentalt7 h2.col,#contentalt8 h2.col,#contentalt9 h2.col,#contentalt10 h2.col,#contentalt11 h2.col,#contentalt12 h2.col,#contentalt13 h2.col {
color:#0000a0;
font-size:1.6em;
margin-bottom:10px;
}

#content img,#contentalt1 img,#contentalt2 img,#contentalt3 img,#contentalt4 img,#contentalt5 img,#contentalt6 img,#contentalt7 img,#contentalt8 img,#contentalt9 img,#contentalt10 img,#contentalt11 img,#contentalt12 img,#contentalt13 img {
border:1px solid #b0b0b0;
/*float:left;*/
margin:5px 15px 6px;
padding:5px;
}


/*** Footer ***/

#footer {
background:#8b8b8b url(footerbg.jpg) top left repeat-x;
clear:both;
color:#d0d0d0;
font-size:0.9em;
font-weight:bold;
margin:0;
padding:20px 0;
text-align:center;
width:100%;
}

#footer a {
color:#d0d0d0;
font-weight:bold;
}

/*** Various classes ***/

.thumbnail {
background:#fafbfc;
border:1px solid #b0b0b0;
margin:0 0 10px 10px;
padding:5px;
}

.searchform {margin:0;}

.searchbox {
background:#f0f0f0;
border:1px solid #b0b0b0;
margin:0 4px 0 0;
width:100px;
}

.searchbutton {
background:#f0f0f0;
border:1px solid #b0b0b0;
}

.clearingdiv {
clear:both;
height:30px;
width:1px;
}

.hide {display:none;}

/*** Text format ***/

.intro {
font-size:1.2em;
font-weight:bold;
letter-spacing:-1px;
}

.small {font-size:1.0em;}
.large {font-size:1.4em;}
.center {text-align:center;}
.right {text-align:right;}


/*** Added by AK ***/
.blueb{ 
  color: rgb(0,0,139);
  font-weight: bold;
}

.blue{ 
  color: rgb(0,0,139);
}

.redb{ 
  color: rgb(204,0,0);
  font-weight: bold;
}

.red{ 
  color: rgb(204,0,0);
}

.black{ 
  color: rgb(0,0,0);
}

.blackb{ 
  color: rgb(0,0,0);
  font-weight: bold;
}

a.publink { 
color:#000080;
background:#ffffff;
border-bottom:1px solid #000080;
/*border:1px solid #000080;*/
margin:2px 4px 2px 4px;
/*font-weight:bold; */
}

a.redb {
color: rgb(204,0,0);
background:#ffffff;
border-bottom:1px solid rgb(204,0,0); 
/*border:1px solid #000080;*/
margin:2px 4px 2px 4px;
font-weight:bold;
}


/*** End of file ***/
